html, body {
    width: 100%;
    font-weight: normal;
    font-variant: normal;
    outline: 0;
    padding: 0;
    word-wrap: break-word;
    text-align: justify;

    height:100%;
    font-size:100%;
    border:0;
    margin:0;
    font-family: 'Helvetica Neue',Helvetica, Arial ,sans-serif;
}

div {
    overflow: auto;
    line-height: 1.5;
}

a {
    text-decoration: none;
    /*color: white;*/
    outline: none;
    color: black;
}

h1 {
    /*padding: 0;*/
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: normal;
}

#navigator a:hover {
    /*color: #c5da01;*/
    color: rgb(219, 255, 86);
    /*color: #43a102;*/
    font-weight: bold;
    text-decoration: underline;
}

#blog-title-main:hover{
    text-shadow: 0px 2px 2px yellow;
}

#blog-title-main a, #navigator a{
    color: white;
}

#header {
    margin-top: 10px;
    background: black;
    height: 200px;
    text-align: center;
    color: white;
    position: relative;
}

#blog-title {
    margin-top: 35px;
    font-size: 62px;
}

#navigator ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

#navigator li {
    list-style: none;
    display: inline-block;
    min-width: 100px;
    font-size: 14px;
    line-height: 14px;

    font-weight: normal;
}

#navigator {
    padding: 0px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
}

#container {
    max-width: 1024px;
    width: 75%;
    margin: auto;
    min-height: 350px;
}

.post-container {
    text-align: center;
    /*min-height: 500px;*/
}

.post-container a {
    color: black;
}

.post-content-container {
    min-height: 500px;
}

.post-container hr {
    border: thin none;
    height: 1px;
    background: none repeat 0 0 #cccccc;
    margin-top: 100px;
}

.post-title-item a{
    color: black;
    font-size: 20px;
}

.post-title-item {
    /*width: 50%;*/
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

#post-title-list, #post-category-list {
    max-width: 600px;
    margin: auto;
    min-height: 500px;
    /*margin-top: 20px;*/
}

#post-category-list li {
    list-style: none;
    color: black;
    font-size: 20px;
}

#post-category-list ul {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

/*.post-title-item-time:before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
/*}*/

.post-title-item-time {
    font-size: 14px;
    color: #666666;
    right: 0px
;
    position: absolute;
    bottom: 1px;
    /*line-height: 100%;*/
}

.post-content {
    text-align: justify;
    font-size: 18px;
    color: #666666;
    line-height: 1.5;
    display: block;
}

.post-metadata, .post-metadata a {
    /*text-align: left;*/
    font-size: 14px;
    color: #666666;
}

.comment-form {
    text-align: left;
    width: 650px;
    margin: auto;
}

a.underline {
    text-decoration: underline;
}

.post-title {
    font-weight: lighter;
}

.small-font {
    font-size: 14px !important;
}
.text-color1 {
    color: #666666 !important;
}

.right-align {
    float: right !important;
}